/* Links */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
}
ul{
  list-style: none;
}

/* Custom default button */
.btn {
  color: #ffffff;
  text-shadow: none;
  background-color: #c41b20;
  border-radius: 20px;
  padding: 5px 30px;
}
.btn:hover,
.btn:focus,
.btn.active {
  background-color: #f21a1f;
  color: #ffffff;
}
body {
  background-color: #ffffff;
  color: #000000;
  min-width: 350px;
}

          /*header*/

.masthead{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 999;
  background-color: #000000;
}
.masthead_inner{
  display: block;
  max-width: 1170px;
  margin: 0 auto;
}
.logo{
  float: left;
  font-size: 2em;
  line-height: 2;
  margin: 0;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.95);
}

         /*nav-bg*/

.nav-bg-list{
  float: right;
  margin: 1.2em 0 0;
}
.nav-bg-list>li{
  float: left;
}
.nav-bg-list > li:last-child a {
  margin-right: 0;
}
.nav-bg-list > li > a {
  font-size: 1.2em;
  padding: 0;
  margin: .6em .8em;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: border-color,color;
  transition-property: border-color,color;
}
.nav-bg-list > li > a:hover,
.nav-bg-list > li > a:focus {
  color: #f21a1f;
  background-color: transparent;
}
.nav-bg-list > .active > a,
.nav-bg-list > .active > a:hover,
.nav-bg-list > .active > a:focus {
  color: #f21a1f;
  border-bottom-color: rgba(255, 255, 255, 1);
}

       /*nav-small*/
.nav-small.is-closed {
  display: none;
}
.nav-small.is-open{
  display: block;
  position: absolute;
  top:99.99%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}

.nav-small.is-open .nav-small-list li{
  width: 50%;
  float: left;
  font-size: 1.2em;
  line-height: 3;
  text-align: center;
  font-weight: bold;
}
.nav-small.is-open .nav-small-list li a{
  display: block;
}
.nav-small.is-open .nav-small-list a:hover,
.nav-small.is-open .nav-small-list a:visited,
.nav-small.is-open .nav-small-list a:focus {
  background-color: rgb(122, 122, 122);
}
.nav-small.is-open .nav-small-list li.active {
  background-color: rgba(203, 26, 30, 0.94);
}

         /*hamburger*/

.hamburger{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  width: 24px;
  height: 24px;
  margin-top: .7em;
  margin-right: 1.4em;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}
.hamburger .hamb-top,
.hamburger .hamb-middle,
.hamburger .hamb-bottom {
  background-color: #ffffff;
}
.hamburger.is-closed .hamb-top {
  top: 4px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -1px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 4px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}


         /*site-wrapper*/
.site-wrapper {
  margin-top: 4em;
  width: 100%;
}
.site-wrapper_inner{
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

         /*main-box owl*/

.main-box {
  color: #fff;
  background-color: #8f8f8f;
  text-align: center;
}
.main-box_item{
  padding: 12em 0;
}
.about {
  background: url("img/owl_1.png") 50% 0 no-repeat;
  background-size: cover;
}
.work{
  background: url("img/owl_4.png") 50% 0 no-repeat;
  background-size: cover;
}
.team{
  background: url("img/owl_3.png") 50% 0 no-repeat;
  background-size: cover;
}
.main-box .h-table {
  display: table;
  width: 100%;
  height: 100%;
}
.main-box .h-table .h-cell {
  display: table-cell;
  vertical-align: middle;
}
.main_item_content {
  width: 60%;
  margin: auto;
}
.main-box_item .main_item_text {
  font-size: 18px;
  color: #fff;
}
          /*owl-nav*/

.main-box .owl-nav div {
  position: absolute;
  top: 45%;
  left: 2em;
  color: rgba(255, 255, 255, 0.29);
  transform: translateY(-50%);
}
.main-box .owl-nav .owl-next{
  right: 2em;
  left: auto;
}

          /*owl-dot*/

.main-box .owl-dot {
  display: inline-block;
  vertical-align: bottom;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-right: 6px;
  margin-left: 6px;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
}

.main-box .owl-dot.active {
  background-color: #fff;
}
.main-box .owl-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 35px;
}

.main_text {
  text-align: center;
  padding: 3em 8em;
}
.btn_box,
.form_btn {
  text-align: center;
  margin: 2em;
}

          /*footer*/
footer{
  width: 100%;
  background-color: #000000;
  padding: 2em 0 1em;
}
.footer_inner{
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}


          /*portfolio*/
.portfolio_group{
  max-width: 934px;
  margin: 0 auto;
}
.portfolio_item img {
  width: 100%;
}

.portfolio_item {
  position:relative;
  overflow:hidden;
  float: left;
  width: 290px;
  height: 290px;
  color: #fff;
  border-radius: 2px;
  margin:9px;
}

.portfolio_item_dscr {
  position:absolute;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.36);
  width:100%;
  height:100%;
  padding: 6em 0;
  text-align:center;
  z-index:99;
  opacity: 0;
}
.portfolio_item:hover .portfolio_item_dscr {
  opacity: 1;
}

             /*team*/
.team_article,
.main_article {
  padding: 5em 10em;
  text-align: center;
  color: #fff;

}
.team_article{
  background: url("img/bg.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.main_article {
  background: url("img/owl_3.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.team_article h3,
.main_article h3 {
  font-size: 2.6em;
  line-height: 2;
}
.team_article p,
.main_article p{
  font-size: 1.8em;
  line-height: 1.2;
  padding-top: 1.2em;
}
.about_team {
  text-align: center;
  padding: 1.2em 5em;
}

.team-box .owl-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 1em;
}
.team-box .owl-dot {
  display: inline-block;
  vertical-align: bottom;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  margin-right: 6px;
  margin-left: 6px;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
}

.team-box .owl-dot.active {
  background-color: #fff;
}
.team-box{
  margin-bottom: 3em;
}

/*contact*/
.form-project {
  position: relative;
  width: 750px;
  margin: 0 auto 5em;
  padding: 38px 85px 46px;
  color: #232323;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 5px 30px rgba(83, 83, 83, 0.61);
}
.form-project .form_icon {
  float: left;
  margin-top: .2em;
}
.form-project .form_title {
  text-align: left;
  font-size: 26px;
  padding-left: 82px;
}
.form-project .form_dscr {
  max-width: none;
  margin-top: 29px;
  color: #a8a9c6;
  font-size: 16px;
  text-align: center;
}
.form-project .form_part {
  margin-top: 28px;
}
.form-project .form_item.mod-about,
.form-project .form_item.mod-attached-files,
.form-project .form_item.mod-name {
  width: 100%;
}
.form-project .form_item {
  float: left;
  position: relative;
}
.form_item:first-child {
  margin-top: 0;
}
.form_field {
  appearance: none;
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 18px;
  border: 1px solid #ebebeb;
  font: 400 14px proxima-nova-regular-italic,Arial,"Nimbus Sans L",Helvetica,sans-serif;
  color: #a4a4a4;
  border-radius: 5px;
  -webkit-transition-property: color,border-color;
  transition-property: color,border-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  vertical-align: middle;
}
.form-project .form_item.mod-about,
.form-project .form_item.mod-email,
.form-project .form_item.mod-phone {
  margin-top: 15px;
}
.form-project .form_item.mod-email,
.form-project .form_item.mod-phone{
  width: 46%;
}
.form-project .form_item.mod-phone {
  margin-left: 3.2em;
}
.form-project .form_field.mod-textarea {
  height: 108px;
  padding-top: 14px;
  padding-bottom: 14px;
  resize: none;
}
address a,
address a:focus,
address a:hover {
  color: #000000;
  text-decoration: none;
}
          /*media*/
@media (max-width: 1199px) {
  .masthead_inner,
  .site-wrapper_inner,
  .footer_inner{
    max-width: 934px;
  }
}
@media (max-width: 991px) {
  .masthead_inner,
  .site-wrapper_inner,
  .footer_inner{
    max-width: 750px;
  }
  .form-project{
    padding: 2em 1em;
    width: 650px;
  }
  .portfolio_group{
    max-width: 616px;
  }
}
@media (max-width: 790px) {
  .site-wrapper_inner{
    max-width: 620px;
    padding-top: 3.2em ;
  }
  .logo{
    font-size: 1.6em;
    line-height: 2;
    margin-left: .6em;
  }
  .nav-bg {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .site-wrapper {
    margin-top: 3em;
  }
  .main-box_item{
    padding: 5em 0;
  }
  .main_text {
    padding: 0 0 2em;
  }
  .hide_dscr {
    display: none;
  }
  .team_article,
  .main_article {
    padding: 2em;
  }
  .team_article h3,
  .main_article h3{
    font-size: 2em;
    line-height: 1.2;
  }
  .about_team{
    padding: 0 2em;
  }
  .form-project{
    padding: 2em;
    width: 500px;
    box-shadow: none;
    margin: 0 auto 2em;
  }
  .form-project .form_item.mod-email,
  .form-project .form_item.mod-phone{
    width: 100%;
  }
  .form-project .form_item.mod-phone{
    margin-left: 0;
  }
}
@media (max-width: 670px) {
  .site-wrapper_inner {
    max-width: 500px;
  }
  .main-box .owl-nav,
  .main-box .owl-dots
  {
    display: none;
  }
  .main-box_item{
    padding: 2em 0;
  }
  .portfolio_group{
    max-width: 300px;
  }
  .portfolio_item:first-child {
    margin-top:0;
  }
  .portfolio_item_dscr {
    opacity: 1;
  }
}
@media (max-width: 550px) {
  .site-wrapper_inner {
    max-width: 350px;
  }
  .form-project{
    padding: 1em;
    width: 350px;
    margin: 0 auto 1em;
  }
  .form-project .form_icon {
    display: none;
  }
  .form-project .form_title {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .site-wrapper_inner {
    max-width: 360px;
  }
  .site-wrapper_inner .lead {
    margin: 3em 2em;
  }
  .form-project{
    padding: 1em;
    width: 350px;
    margin: 0 auto 1em;
  }
  .maps {
    margin: 0 1.4em;
  }
}


/*@media (max-width: 300px) {

  p.lead {
    display: none;
  }
  h1 {
    margin: 3em 0 2em;
  }
  .site-wrapper_inner {
    max-width: 290px;
  }
}*/

